body {
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  line-height: 1.9;
  color: #8c8c8c;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: "Roboto", sans-serif;
  color: #000;
}

.contact-wrap {
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}

.contact-wrap .form,
.contact-wrap .contact-info {
  padding: 40px;
}

.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5);
}

.contact-wrap .contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.btn-danger {
  opacity: 0;
}

.contenedor.aquimagen:hover .btn.btn-danger {
  opacity: 1;
}